.chat-column {
  width: 400px;
}

.chat-container {
  height: 100%;
}

.chat-header,
.chat-footer {
  flex: none;
  display: flex;
}

.chat-messages-container {
  flex: 1 0 auto;
}

.chat-row {
  transition-property: background-color;
  transition-duration: .1s;
  transition-timing-function: linear;
}

.chat-row:focus, .chat-row:hover {
  background-color: rgba(0, 0, 0, .04);
}

.chat-system-message,
.chat-system-message:focus,
.chat-system-message:hover {
  background: #fff7b1;
}

.chat-author {
  color: #707070;
  font-weight: 500;
}
