@import "./_chat";
@import "./_header";
@import "./_footer";
@import "./_details";

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

/**
 * NOTE: holy grail flexbox layout: https://github.com/philipwalton/solved-by-flexbox
 */
body {
  font-family: Roboto,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #707070;
  background-color: #f3f3f3;
}

.body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

header, footer {
  flex: none;
}

main,
.main-container {
  flex: 1 0 auto;
}
