@import "./_chat";
@import "./_footer";
@import "./_details";

main.hide-menu {
  .sidebar-menu {
    display: none;
  }

  section.content {
    padding-left: 30px !important;
  }
}

.sidebar {
  padding-bottom: 104px !important;
}

.profile__nav {
  padding-left: 0.75rem !important;
}

.profile {
  background-image: url(https://loremflickr.com/32/32/dave+matthews);
  background-size: 32px 32px;
  border-radius: 50%;
  margin: -1px;
  overflow: hidden;
  position: relative;
  height: 32px;
  width: 32px;
  display: block;
}




